@font-face {
  font-family: hzgb;
  src: url("./fonts/hzgb.ttf");
}

.App {
  color: #1d1f75;
  background-color: linear-gradient(0deg, #ffffff, #f8fafb);
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: hzgb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-family: hzgb;
  font-weight: bold;
  color: #1d1f75;
  line-height: 0.5;
  text-align: center;
}

h6 {
  font-weight: 400;
  color: #7779ac;
  line-height: 0;
  text-align: center;
}

a {
  color: #1195f1;
  text-decoration: none;
}

.App-header {
  border-bottom: 1px solid #e9eff1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headerLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0.625em 0;
}

.headerLayout img {
  height: 2em;
}

.selectWithoutBorder {
  border: none;
  outline: none;
  background: transparent;
  font-family: hzgb;
}

.blueButton {
  background: #1195f1;
  border: 0px solid #000000;
  font-size: 1em;
  border-radius: 1em;
  padding: 0.6em 1em;
  color: white;
  outline: none;
  border: none;
}

.dataFeedsLayout {
  min-width: 563px;
  max-width: 80%;
  width: auto;
}

.titleBlock {
  margin: 5em 3em;
}

.scorePanel {
  background: linear-gradient(90deg, #c2dff7, #d0f5e3);
  border-radius: 1em;
  padding: 1em;
  width: 100%;
}

.scorePanelContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scoreTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreTitle span {
  margin-right: 0.5em;
  font-weight: 400;
  font-size: 1.3em;
}

.scoreItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.scoreItem div:first-child {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.scoreItem div:last-child {
  font-size: 0.6em;
  text-transform: capitalize;
}

.dataTableLayout {
  margin-top: 3em;
  width: 80%;
}

.dataTableHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dataTableHeader .filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dataTableHeader .filter div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}

.dataTableHeader .filter div span {
  margin-left: 0.5em;
  text-transform: capitalize;
}

.dataTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  row-gap: 1em;
  column-gap: 1em;
  margin-top: 2em;
}

.dataCellLayout {
  border: 1px solid #e1e8eb;
  border-radius: 8px;
  padding: 1em;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #1d1f75;
}

.dataCellLayout .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.25em;
  text-transform: uppercase;
}

.dataCellLayout .price {
  font-size: 1.2em;
}

.dataCellLayout .resourceLabels {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dataCellLayout .resourceLabels .tinyTitle {
  font-size: 0.6em;
  color: #7779ac;
}

.dataCellLayout .resourceLabels .resourcesLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.5em;
  margin-top: 0.5em;
}

.dataCellLayout .resourceLabels .resources {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.dataCellLayout .resourceLabels .resourcesLine img {
  height: 1em;
  margin-right: 0.25em;
}

.dataCellLayout .resourceLabels .resourcesLine .exchangeIcon {
  filter: grayscale(100%);
}

.footerLayout {
  width: 96%;
  padding: 3em 8%;
  font-size: 0.8em;
}

.footerLayout p {
  width: 80%;
  margin: 2em 0;
  line-height: 2;
}

.footerLayout .copyright {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
}

.footerLayout .copyright .medias {
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.5em;
}

.pairLayout {
  width: 80%;
  margin: 2em 10% 5em 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pairLayout .back {
  background: #f8fafb;
  border: 1px solid #e1e8eb;
  border-radius: 6px;
  font-size: 0.8em;
  padding: 0.8em 2em;
  color: #1d1f75;
}

.pairLayout .infoPanel {
  background: #f8fafb;
  border: 1px solid #e1e8eb;
  border-radius: 8px 8px 0px 0px;
  margin-top: 2em;
  padding: 2em;
  width: calc(100% - 4em);
}

.pairLayout .infoPanel .infoTitleBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pairLayout .infoPanel .infoTitleBar .tokenTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5em;
  text-transform: uppercase;
}

.pairLayout .infoPanel .infoTitleBar .gettingError {
  background: linear-gradient(90deg, #d1e6f7, #dbf6e9);
  border: 1px solid #e1e8eb;
  border-radius: 8px;
  font-size: 0.8em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.pairLayout .infoPanel .infoTitleBar .gettingError img {
  height: 1em;
}

.pairLayout .infoPanel .infoContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2em;
}

.pairLayout .infoPanel .infoContent .bigPriceLabel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.pairLayout .infoPanel .infoContent .bigPriceLabel .title {
  font-size: 0.5em;
  color: #7779ac;
  text-transform: capitalize;
}

.pairLayout .infoPanel .infoContent .bigPriceLabel .bigPrice {
  font-size: 2em;
  margin-top: 0.6em;
}

.pairLayout .infoPanel .infoContent .labels {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 1em;
}

.pairLayout .infoPanel .infoContent .labels .labelAndValue {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: flex-end;
  align-items: flex-end;
}

.pairLayout .infoPanel .infoContent .labels .labelAndValue div:first-child {
  font-size: 0.5em;
  color: #7779ac;
  text-transform: capitalize;
}

.pairLayout .infoPanel .infoContent .labels .labelAndValue div:last-child {
  font-size: 1em;
  color: #1d1f75;
  margin-top: 0.5em;
}

.pairLayout .infoPanelBelow {
  background: white;
  border: 1px solid #e1e8eb;
  border-top: none;
  border-radius: 0 0 8px 8px;
  margin-top: 0;
  padding: 2em;
  width: calc(100% - 4em);
}

.pairLayout .infoPanelBelow .infoTitleBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.pairLayout .infoPanelBelow .infoTitleBar .bottonWithBorder {
  background: #ffffff;
  outline: none;
  border: 1px solid #1195f1;
  border-radius: 1.2em;
  padding: 0.8em 1.5em;
  color: #1195f1;
  font-family: hzgb;
  text-transform: capitalize;
}

.pairLayout .infoPanelBelow .infoContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2em;
  margin-top: 2em;
}

.ResourceLabelLayout {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0.8em;
  width: 8em;
}

.ResourceLabelLayout .title {
  text-transform: capitalize;
  font-size: 0.8em;
}

.ResourceLabelLayout .price {
  font-size: 1em;
}

.ResourceLabelLayout .weight {
  font-size: 0.6em;
  color: #7779ac;
  text-transform: capitalize;
}

.pairLayout .historyPanel {
  background: #ffffff;
  border: 1px solid #e1e8eb;
  border-radius: 8px;
  padding: 2em;
  width: calc(100% - 4em);
  margin-top: 2em;
}

.pairLayout .historyPanel .infoTitleBar {
  text-transform: capitalize;
}

.pairLayout .tables {
  width: 100%;
  margin-top: 2em;
}

.pairLayout .tables .title {
  text-align: left;
  text-transform: capitalize;
}

.pairLayout .tables .tabBar {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.8em;
  margin-top: 2em;
}

.pairLayout .tables .tabBar div {
  cursor: pointer;
  text-transform: capitalize;
}

.pairLayout .tables .tabBar .selected {
  color: #1d1f75;
  border-bottom: 1px solid #1d1f75;
  padding-bottom: 1em;
}

.pairLayout .tables .tabBar .unselected {
  color: #7779ac;
}

.pairLayout .tables table {
  width: 100%;
  margin-top: 2em;
  border-collapse: separate;
  border-spacing: 0;
}

.pairLayout .tables table thead tr th {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #7779ac;
  text-align: left;
  padding: 1em;
  background: #f8fafb;
  border-top: 1px solid #e1e8eb;
  border-bottom: 1px solid #e1e8eb;
}

.pairLayout .tables table thead tr th:first-child {
  border-radius: 8px 0 0 0;
  border-left: 1px solid #e1e8eb;
}

.pairLayout .tables table thead tr th:last-child {
  border-radius: 0 8px 0 0;
  border-right: 1px solid #e1e8eb;
}

.pairLayout .tables table tbody tr td {
  border-bottom: 1px solid #e1e8eb;
  background-color: white;
  padding: 1.5em 1em;
  font-size: 0.8em;
}

.pairLayout .tables table tbody tr td .buttonWithoutBorder {
  background-color: white;
  border: none;
  outline: none;
  font-family: hzgb;
  padding: 0.25em 1em;
  cursor: pointer;
}

.pairLayout .tables table tbody tr td div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.25em;
  flex-direction: row;
}

.pairLayout .tables table tbody tr td:first-child {
  border-left: 1px solid #e1e8eb;
}

.pairLayout .tables table tbody tr td:last-child {
  border-right: 1px solid #e1e8eb;
  width: 3em;
}

.modalLayout {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalLayout .modalContent {
  box-shadow: 30px 30px 80px rgba(0, 0, 0, 0.5);
  pointer-events: all;
  background: #ffffff;
  border-radius: 12px;
  padding: 3em 2em;
  position: relative;
}

.modalLayout .modalContent .closeButton {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1;
  background-color: transparent;
  border: none;
  outline: none;
}

.loginFormLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.loginFormLayout .userNameInput {
  background: #ffffff;
  border: 1px solid #e1e8eb;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-family: hzgb;
  color: #7779ac;
  width: 15em;
  outline: none;
  text-align: center;
}

.loginFormLayout .passwordInput {
  background: #ffffff;
  border: 1px solid #1195f1;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-family: hzgb;
  color: #1195f1;
  width: 15em;
  outline: none;
  text-align: center;
}

.loginFormLayout .loginButton {
  background: #1195f1;
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 0.8em 1em;
  font-family: hzgb;
  outline: none;
  border: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
} */
